
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul style="cursor:pointer" class="nav navbar-inverse">
          <div style=" margin-top: 10px; font-size: 15px" class="row">
            <div class="col-md-2">
              <li><a [routerLinkActive]="['active']" routerLink="/">Home</a></li>
            </div>
              <div style="margin-left: 230px;">
                <div class="col-md-2">
                  <li><a [routerLinkActive]="['active']" routerLink="/admin/add-hotel">Add hotel</a></li>
                </div>
                <div class="col-md-2">
                <li><a [routerLinkActive]="['active']" routerLink="/admin/view-hotels">View Hotels</a></li>
                </div>
                <div class="col-md-2">
                  <li><a [routerLinkActive]="['active']" routerLink="/admin/add-housing-offer">Add housing offer</a></li>
                </div>
                <div class="col-md-2">
                    <li><a [routerLinkActive]="['active']" routerLink="/admin/view-housing-offers">View housing offer</a></li>
                 </div>  
              </div>
        </div>
      </ul>
    </div>
  </nav>