
<div class="row" style="margin-left:30%">
    <div class="col-md-6">
        <div class="form-group">
          <select-dropdown 
           [selected]="cityName"
           [items]= "cityNames"
           (selectedEmitter) = "getCityName($event)"
           >
          </select-dropdown>
       </div>
    </div>
    <div class="example col-md-6">
      <button class="btn btn-dark btn-rounded" [disabled] ="searchButtonDisabled()" (click)= "searchForHotelsByCityName()" type="submit"><i class="fa fa-search"></i>Cauta</button>
    </div>  
  </div>

<div *ngIf="!hotelFirstLevelDto" style="margin-top: 50px; margin-left:40%">
  <h1>
    {{message}}
  </h1>
</div>
<div *ngFor="let data of hotelFirstLevelDto?.data; let i = index">
  <div class="container">
    <div class="card card-container hotel" style="background-color: rgb(231, 231, 231);">
        <button (click)="deleteHotel(i)" type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      <div style="margin-left:10%">
        <div class="row">
          <h2>
            {{data.type | uppercase }} {{i+1}}
          </h2>
        </div>
        <div style="margin-right:20%">
            <div class="row">
              <span><b>Name: </b></span>{{data.hotel.name}}
            </div>
            <div class="row" >
              <span><b>Available: </b> </span>{{data.available}}
            </div>
            <div class="row" >
                <span><b>Rating: </b> </span>
                <span *ngFor="let rate of rating[i]">
                    <span *ngIf="rate" class="fa fa-star checked"></span>
                    <span *ngIf="!rate" class="fa fa-star"></span>
                </span>
            </div>
            <div class="row" >
                <span><b>Type: </b> </span>{{data.hotel.type}}
            </div>
            <div class="row" >
                <span><b>Hotel id: </b> </span>{{data.hotel.hotelId}}
            </div>
            <div class="row" >
              <h2><b>Address </b> </h2>
            </div>
            <div class="row">
              <span><b>City Name: </b> </span>{{data.hotel.address.cityName}}
            </div>
            <div class="row">
              <span><b>Postal Code: </b> </span>{{data.hotel.address.postalCode}}
            </div>
            <div class="row">
              <span><b>Country Code: </b> </span>{{data.hotel.address.countryCode}}
            </div>
            <div class="row" >
                <h2><b>Amenities </b> </h2>
                <span *ngFor="let amenity of data.hotel.amenities">
                  {{amenity}}, 
                </span>
            </div>
            <div class="row" >
              <span><b>Chain Code: </b> </span>{{data.hotel.chainCode}}
            </div>
            <div class="row" >
                <span><b>City Code: </b> </span>{{data.hotel.cityCode}}
            </div>
                <div class="row" >
                    <b>Contact </b>
                </div>
                <div class="row" >
                    <span><b>Phone: </b> </span>{{data.hotel.contact.phone}}
                </div>
                <div class="row" >
                    <span><b>Fax: </b> </span>{{data.hotel.contact.fax}}
                </div>
            <div *ngIf="data.hotel.description" class="row" >
                <b>Description </b>
                  <br>
                    <span><b>Lang: </b> </span>{{data.hotel.description.lang}}
                    <br>
                    <span><b>Text: </b> </span>{{data.hotel.description.text}}
            </div>
          </div>
        <div class="row" style="margin-right:15px">
            <h2>
              <button class="btn btn-success" *ngIf="!showOffers[i]"(click)="toggle(i)">Show Offers</button>
              <button class="btn btn-danger"*ngIf="showOffers[i]"(click)="toggle(i)">Hide Offers</button>
            </h2>
          </div>
        <div *ngIf="showOffers[i]">
          <div *ngFor="let offer of data.offers">
            <button class="btn btn-success" *ngIf="isUserLoggedIn()" (click)="buyOffer(i)">Buy offer</button>
            <button class="btn btn-danger" *ngIf="!isUserLoggedIn()" [routerLink] = "['/login']">Login for buying offers</button>

              <hr>
            <div class="row" style="margin-right:15px;">
              <span>Guests: </span>Adults: {{offer.guests.adults}}
            </div>
            <div style="margin-right:15px;">
                <div class="row" >
                    <span><b>Currency: </b> </span>{{offer.price.currency}}
                </div>
                <div class="row" >
                    <span><b>Total: </b> </span>{{offer.price.total}}
                </div>
            </div>
            <div class="row" style="margin-right:15px;">
                <span>Room: </span>
              </div>
              <div  style="margin-right:15px;">
                  <div class="row" >
                      <span><b>Description: </b> </span>{{offer.room.description.text}}
                  </div>
                  <div class="row" >
                      <span><b>Type: </b> </span>{{offer.room.type}}
                  </div>
                      <div class="row" >
                          <span><b>Type Estimated: </b> </span>
                      </div>
                          <div class="row" >
                            <span><b>Bed Type: </b> </span>{{offer.room.typeEstimated.bedType}}
                          </div>
                          <div class="row" >
                            <span><b>Beds: </b> </span>{{offer.room.typeEstimated.beds}}
                          </div>
                          <div class="row" >
                            <span><b>Category: </b> </span>{{offer.room.typeEstimated.category}}
                          </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
