
<nav class="navbar navbar-inverse" style="background-color: rgba(15, 15, 15, 0.87)">
  <div class="container-fluid" style="margin-left: 25%!important">
    <ul  style="cursor:pointer" class="nav navbar-inverse">
      <div style=" margin-top: 10px; font-size: 20px" class="row">
        <div  style="margin-right:100px">
          <li><a [routerLinkActive]="['active']" >Oferta completa</a></li>
        </div>
        <div style="margin-right:100px">
          <li><a [routerLinkActive]="['active']" [routerLink]="['/view-hotels']">Cazare</a></li>
        </div>
        <div style="margin-right:100px">
          <li><a [routerLinkActive]="['active']" [routerLink]="['/view-flights']">Zboruri</a></li>
        </div>
        <div style="margin-right:100px">
            <li><a [routerLinkActive]="['active']" [routerLink]="['/view-car-offers']">Inchirieri masini</a></li>
        </div>  
      </div>
    </ul>
  </div>
</nav>