
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul  style="cursor:pointer" class="nav navbar-inverse">
      <div style="margin-left: 130px; margin-top: 10px; font-size: 15px" class="row">
        <div class="col-md-3">
          <li><a [routerLinkActive]="['active']">Oferta completa</a></li>
        </div>
        <div class="col-md-3">
          <li><a [routerLinkActive]="['active']">Cazare</a></li>
        </div>
        <div class="col-md-3">
          <li><a [routerLinkActive]="['active']">Zboruri</a></li>
        </div>
        <div class="col-md-3">
            <li><a [routerLinkActive]="['active']">Inchirieri masini</a></li>
        </div>  
      </div>
    </ul>
  </div>
</nav>